<a href="https://colab.research.google.com/github/AlessandroRossiUFF/MelhorandoDesafio3/blob/main/C%C3%B3pia_de_O_Desafio_CR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Você precisa calcular o CR de alunos de uma universidade. Para isto será preciso ler de um arquivo csv a lista de notas dos alunos e, de acordo com as notas e os critérios da universidade, calcular o CR de todos os alunos. Ao final do processo, será preciso mostrar na tela o CR de todos os alunos e qual a média de CR dos cursos.

Regras
A nota do aluno vai de zero até 100;
Uma nota é associada a uma disciplina e a um código de curso;
O CR é a média ponderada da nota do aluno naquela turma com a carga horária daquela turma. O cálculo é:
CR = Nota(i)*CargaHoraria(i)/TotalCargaHoraria

i é a i-ésima turma de um aluno
Utilizar Orientação a Objetos para resolver o problema
Escolha a linguagem que achar adequada

#Vamos começar declarando alguns elementos que serão necessários para desenvolver nosso código.

In [707]:
import pandas as pd
dados = pd.read_csv("/content/drive/MyDrive/notas.csv", usecols=[0, 1, 2, 3, 4])

df_aluno = pd.DataFrame({'Matricula':[],'CR':[]
                         })
df_turma = pd.DataFrame({'CODIGO_DE_TURMA':[],'CR':[]
                         })

df_aluno['Matricula'] = dados['MATRICULA'].unique()
df_turma['CODIGO_DE_TURMA'] = sorted(dados['COD_CURSO'].unique())

class DataBase:

  lista = dados
  turmaT = dados['COD_CURSO']
  turmaU = sorted(dados['COD_CURSO'].unique())         
  matriculaT = dados['MATRICULA']
  matriculaU = dados['MATRICULA'].unique()             
  horas = dados['CARGA_HORARIA']
  notas = dados['NOTA']
  horasI = []
  horasT = []

  def CalculaCR(self, registroUnicos, registrosTotais, valorIndice, valorColuna, valorNotas, horas):
    vI = []
    vT = []
    v = []
    vH = valorIndice
    for i in range(len(registroUnicos)):
      for j in range(len(registrosTotais)):
        if registroUnicos[i] == registrosTotais[j]: 
          v.append(dados.loc[j,'CARGA_HORARIA'])
          dados.loc[j,'indice'] = registroUnicos[i]    #Nessa parte do método calculamos as horas totais
      for j in range(len(registrosTotais)):
        if registroUnicos[i] == registrosTotais[j]:     
          dados.loc[j,'indice'] = sum(v)
          s = 0
          while s < len(v):
            v[s] = 0
            s += 1
    valorColuna = dados['indice'].tolist()        
    for i in range(len(valorColuna)):
      if valorColuna[i] != 0:
        vT.append(valorColuna[i])
    valorColuna = vT

    v = []
    for i in range(len(registroUnicos)):        #nessa parte do método usamos as horas totais obtidas
      cr = 0                                               #para calcular o CR
      for j in range(len(registrosTotais)):
        if registroUnicos[i] == registrosTotais[j]:
          cr += (horas[j] * valorNotas[j]) / valorColuna[i]
      v.append(cr)
    return v
            
aluno = DataBase()
turma = DataBase()

##Com esse código passamos o CR obtido no módulo acima para o DataFrame que vai quardar as informações que vamos exibir.

In [708]:
cr = aluno.CalculaCR(aluno.matriculaU, aluno.matriculaT, aluno.horasI, aluno.horasT, aluno.notas, aluno.horas)
for i in range(len(cr)):
  cr[i] = int(cr[i])
df_aluno['CR'] = cr

#Agora vamos calcular o CR das turmas

Falta pouco para conseguir conseguir encaixar o código de calcular o CR das turmas para um módulo igual fiz com o CR dos alunos.Estou conseguindo receber um vetor com o valor das horas totais referentes a cada curso,porém,os valores dentro desse vetor estão fora da ordem certa (que eu sei pois já conseguir fazer tudo fora do módulo rs) e por isso o CR das turmas foi calculado fora da nossa classe apenas para exibição. 
Segue a baixo o código para exibir o CR das turmas.

Nessa primeira parte calculamos a quantidade de horas totais referentes a cada curso.

In [709]:
u = []   #Vetores auxiliares que serão usados
v = []   #apenas nesse bloco de código  
x = []
for i in range(len(turma.turmaU)):
  for j in range(len(turma.lista)):
    if turma.turmaU[i] == dados.loc[j,'COD_CURSO']:
      v.append(dados.loc[j,'CARGA_HORARIA'])       
  for j in range(len(turma.lista)):
    if turma.turmaU[i] == dados.loc[j,'COD_CURSO']:
      u.append(sum(v))     
      s=0
      while s < len(v):
        v[s] = 0
        s+=1

for i in range(len(u)): #Uma outra forma de remo
  if u[i] != 0:
    x.append(u[i])  
turma.horasT = x
#Abaixo vamos imprimir o vetor com as horas totais referentes a cada turma.

Aqui faremos o calculo para obter o CR referente a cada código de curso

In [710]:
for i in range(len(turma.turmaU)):          
  cr=0                                           
  for j in range(len(dados)):
    if turma.turmaU[i] == dados.loc[j,'COD_CURSO']:
        cr += (turma.notas[j] * dados.loc[j,'CARGA_HORARIA']) / turma.horasT[i]
        df_turma.loc[i,'CR'] = int(cr)

#E agora podemos enfim exibir todos os dados obtidos

###O CR dos alunos é:

In [711]:
df_aluno

    Matricula  CR
0         100  63
1         101  82
2         102  56
3         103  57
4         104  64
5         105  47
6         106  64
7         107  51
8         108  65
9         109  79
10        110  72
11        111  78
12        112  67
13        113  58
14        114  61
15        115  57
16        116  59

###O CR das turmas é:

In [712]:
df_turma

   CODIGO_DE_TURMA    CR
0                4  49.0
1               21  74.0
2               31  55.0
3               56  67.0
4              103  84.0