<a href="https://colab.research.google.com/github/AlessandroRossiUFF/MelhorandoDesafio3/blob/main/Desafio_CR_UFF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Você precisa calcular o CR de alunos de uma universidade. Para isto será preciso ler de um arquivo csv a lista de notas dos alunos e, de acordo com as notas e os critérios da universidade, calcular o CR de todos os alunos. Ao final do processo, será preciso mostrar na tela o CR de todos os alunos e qual a média de CR dos cursos.

Regras
A nota do aluno vai de zero até 100;
Uma nota é associada a uma disciplina e a um código de curso;
O CR é a média ponderada da nota do aluno naquela turma com a carga horária daquela turma. O cálculo é:
CR = Nota(i)*CargaHoraria(i)/TotalCargaHoraria

i é a i-ésima turma de um aluno
Utilizar Orientação a Objetos para resolver o problema
Escolha a linguagem que achar adequada

#A partir daqui começa a resolução.

###Vamos começar importando nosso DataFrame com o pandas,criando uma classe chamada DataBase que vai ser onde iremos trabalhar todas informações necessárias e colocando um módulo chamado CalculaCR dentro da nossa classe para operar as informações.

In [ ]:
import pandas as pd
dados = pd.read_csv("/content/drive/MyDrive/notas.csv", usecols=[0, 1, 2, 3, 4])
df_aluno = pd.DataFrame({'Matricula':[],'CR':[]
                         })
df_turma = pd.DataFrame({'CODIGO_DE_TURMA':[],'CR':[]
                         })
df_aluno['Matricula'] = dados['MATRICULA'].unique()
df_turma['CODIGO_DE_TURMA'] = dados['COD_CURSO'].unique()

class DataBase:
  lista = dados
  turmaT = dados['COD_CURSO']                  #Todas as linhas na coluna das turmas.
  turmaU = dados['COD_CURSO'].unique()         #Turmas sem repetição.
  matriculaT = dados['MATRICULA']              #Todas as linhas na coluna das matriculas.
  matriculaU = dados['MATRICULA'].unique()     #Matriculas sem repetição.
  horas = dados['CARGA_HORARIA']               #Referente a coluna da carga horária.
  notas = dados['NOTA']                        #Coluna das notas.
  horasI = []
  horasT = []

  def CalculaCR(self, registroUnicos, registrosTotais, valorIndice, valorColuna, valorNotas, horas):
    vI = []
    vT = []
    v = []
    vH = valorIndice
    for i in range(len(registroUnicos)):
      for j in range(len(registrosTotais)):
        if registroUnicos[i] == registrosTotais[j]: 
          v.append(dados.loc[j,'CARGA_HORARIA'])
          dados.loc[j,'indice'] = registroUnicos[i]    #Nessa parte do método calculamos as horas totais
      for j in range(len(registrosTotais)):            #referentes a cada parâmetro "registro",que nesse caso
        if registroUnicos[i] == registrosTotais[j]:    #vai representar os códigos de turma ou os numeros de matricula.
          dados.loc[j,'indice'] = sum(v)
          s = 0
          while s < len(v):
            v[s] = 0
            s += 1
    valorColuna = dados['indice'].tolist()        
    for i in range(len(valorColuna)):
      if valorColuna[i] != 0:
        vT.append(valorColuna[i])
    valorColuna = vT

    v = []
    for i in range(len(registroUnicos)):                   #Nessa parte do método usamos as horas totais obtidas
      cr = 0                                               #para calcular o CR relativo a cada turma ou matricula.
      for j in range(len(registrosTotais)):
        if registroUnicos[i] == registrosTotais[j]:
          cr += (horas[j] * valorNotas[j]) / valorColuna[i]
      v.append(cr)
    return v
            
aluno = DataBase()
turma = DataBase()

Vamos exibir um trecho do arquivo CSV para visualização abaixo.

In [ ]:
dados

     MATRICULA COD_DISCIPLINA  COD_CURSO  NOTA  CARGA_HORARIA
0          100       SEN00209          4    82             60
1          100       MPS00012         56    90             30
2          100       SGE00014          4     8             30
3          100       GLC00203         21    65             60
4          100       GCL00100         21    96             60
..         ...            ...        ...   ...            ...
294        116       GLE00415         21    88             60
295        116       SGE00012          4     0             30
296        116       GLC00279         21    70             60
297        116       TCC00325         56    68             60
298        116       GMA00019         31     5             60

[299 rows x 5 columns]

###Agora que já temos a nossa classe criada com um módulo para resolver tanto o cálculo do CR referente a cada matricula quanto o cálculo do CR referente a cada código de curso,basta chamarmos o módulo com os parâmetros necessários,converter os valores obtidos para um numero inteiro para melhorar a visualização e passar os dados para um DataFrame que vai exibir as informações na tela quando for chamado.

Chamando o módulo para obter o CR referente a cada aluno.

In [ ]:
mCR = aluno.CalculaCR(aluno.matriculaU, aluno.matriculaT, aluno.horasI, aluno.horasT, aluno.notas, aluno.horas)
for i in range(len(mCR)):
  mCR[i] = int(mCR[i])
df_aluno['CR'] = mCR

Chamando o módulo para obter o CR referente a cada turma.

In [ ]:
tCR = aluno.CalculaCR(turma.turmaU, turma.turmaT, turma.horasI, turma.horasT, aluno.notas, turma.horas)
for i in range(len(tCR)):
  tCR[i] = int(tCR[i])
df_turma['CR'] = tCR

aleatorioTurma = df_turma['CODIGO_DE_TURMA']                    #Aqui vamos ajeitar o "df_turma" para
ordenadoTurma = sorted(df_turma['CODIGO_DE_TURMA'].unique())    #exibir os códigos de turma em ordem crescente
aleatorioCR = df_turma['CR']                                    #ao invéz de em uma ordem aleatória.
ordenandoCR = []
for i in range(len(df_turma)):
  for j in range(len(df_turma)):
    if ordenadoTurma[i] == aleatorioTurma[j]:
      ordenandoCR.append(aleatorioCR[j])
df_turma['CR'] = ordenandoCR
df_turma['CODIGO_DE_TURMA'] = ordenadoTurma

##Agora vamos usar as informações obtidas da nossa classe para exibir os resultados.

Aqui temos o CR referente a cada código de turma.

In [ ]:
df_turma

   CODIGO_DE_TURMA  CR
0                4  49
1               21  74
2               31  55
3               56  67
4              103  84

E aqui temos o CR referente a cada número de matricula.

In [ ]:
df_aluno

    Matricula  CR
0         100  63
1         101  82
2         102  56
3         103  57
4         104  64
5         105  47
6         106  64
7         107  51
8         108  65
9         109  79
10        110  72
11        111  78
12        112  67
13        113  58
14        114  61
15        115  57
16        116  59